################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/BackOffice.API/BackOffice.Service/obj
/BackOffice.API/BackOffice.Infra/obj
/BackOffice.API/BackOffice.Common/obj
/BackOffice.API/BackOffice.Application/obj
/BackOffice.API/BackOffice.api/obj
/BackOffice.API/.vs
/.vs
/BackOffice.API/BackOffice.Test/obj
/BackOffice.API/BackOffice.Doamin/obj
/BackOffice.API/BackOffice.api/bin/Debug/net6.0
/BackOffice.API/BackOffice.Application/bin/Debug/net6.0
/BackOffice.API/BackOffice.Doamin/bin/Debug/net6.0
/BackOffice.API/BackOffice.Infra/bin/Debug/net6.0
